</main>

<footer class="card">
  <span>This website is a work in progress. Spot an error or issue?
    <br>
    [ <a href="/report">File a report</a> ]
    <br>

    <br>
    <a href="/alakbot">Alakbot</a> | <a href="/traffic">Stats</a> | <a href="/credits">Credits</a> | <a target="_blank"
      rel="noreferrer" class="mono" href="https://github.com/alakbarz/alak.bar">v1.1.1</a>
    <div class="palette-container">
      <div class="palette black"></div>
      <div class="palette accent"></div>
      <div class="palette white"></div>
    </div>

</footer>
<script data-goatcounter="https://alakbar.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>