</main>

<footer class="card">
  <span>This website is a work in progress. Spot an error or issue? Give me feedback here: me<span
      style="display:none;"> and i </span>@alak.<span style="display:none;"> oop </span>bar
    <br>
    <a target="_blank" class="mono" href="https://github.com/alakbarz/alak.bar">v0.5.5</a>
    <div class="palette-container">
      <div class="palette black"></div>
      <div class="palette accent"></div>
      <div class="palette white"></div>
    </div>

</footer>

</body>

</html>