<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{.Title}} | Alakbar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/main.css">
  <link rel="shortcut icon" href="/img/profile-round-small.png" />
  <link rel="apple-touch-icon" href="/img/profile.jpg" />
  <meta name="Description" content="Alakbar's personal website and portfolio">
</head>

<body class="container">
  <header>
    <a href="/">
      <div class="header {{if eq .Title "Home"}}active{{end}}">
        <span id="pageTitle">Alakbar</span>
      </div>
    </a>

    <div class="nav card">
      <a href="/" id="main">
        <div class="navlink {{if eq .Title "Home"}}active{{end}}"><span>HOME</span></div>
      </a>
      <a href="projects" id="projects">
        <div class="navlink {{if eq .Title "Projects"}}active{{end}}"><span>PROJECTS</span></div>
      </a>
      <a href="blog" id="blog">
        <div class="navlink {{if eq .Title "Blog"}}active{{end}}"><span>BLOG</span></div>
      </a>
      <a href="pics" id="pics">
        <div class="navlink {{if eq .Title "Pictures"}}active{{end}}"><span>PICS</span></div>
      </a>
    </div>
  </header>

  <main class="card">