:root {
  --background: #fff;
  --dark : #151515;
  --light: #eee;
  --arsenic: #252525;
  --accent: #f50057;
  --radius: 25px;
  --trans-bg: background-color 0.2s ease;
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/font/Inter.var.woff2?v=3.13") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/font/Inter.var.woff2?v=3.13") format("woff2");
}
.main {
  -webkit-animation: fadein 0.5s ease; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s ease; /* Firefox < 16 */
      -ms-animation: fadein 0.5s ease; /* Internet Explorer */
       -o-animation: fadein 0.5s ease; /* Opera < 12.1 */
          animation: fadein 0.5s ease;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--light);
  border-radius: var(--radius);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(245, 0, 87, 0.5);
}
::-webkit-scrollbar-thumb:active {
  background: var(--accent);
}
* {
  box-sizing: border-box;
  outline-offset: 5px;
}
html {
  font-family: 'Inter', sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
body {
  background-color: #eee;
  margin-top: 0 !important;
  font-family: 'Inter var', sans-serif;
  margin: auto !important;
  font-size: 18px;
}
.container {
  margin: 10px 10px 0 10px;
}
a {
  text-decoration: none;
  color: var(--accent);
  border-radius: var(--radius);
}
a.card {
  display: block;
}
p a, ul a, ol a, td a, .footer a {
  display: inline-block;
  text-shadow: 0px 0px var(--accent);
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.2s ease;
}
p a:hover, ul a:hover, ol a:hover, td a:hover, .footer a:hover {
  text-shadow: 0.5px 0.5px   var(--accent),
                 1px   1px   var(--accent),
                 1.5px 1.5px var(--accent),
                 2px   2px   var(--accent),
                 2.5px 2.5px var(--accent),
                 3px   3px   var(--accent);
  transform: translate(-3px, -3px);
  color: #000;
}
a,
b,
h1,
h2,
h3,
h4,
#title,
.navlink {
  font-family: 'Inter var', sans-serif;
  font-weight: 900;
}
h1, h2, h3, h4 {
  margin: 0 0 2px 0;
  line-height: 1em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.1em;
}
p {
  font-family: 'Inter var', sans-serif;
  margin: 0 0 20px 0;
}

/* OUTLINE ON HOVER/FOCUS */
input, textarea, a, .btn, select {
  outline: solid 0 rgba(245, 0, 87, 0.5);
  transition: outline 0.1s ease;
}
/* input:hover, textarea:hover, a:hover, .btn:hover, select:hover {
  outline: solid 5px rgba(245, 0, 87, 0.5);
  transition: outline 0.1s ease;
} */
input:focus, textarea:focus, a:focus, .btn:focus, select:focus {
  outline: solid 5px var(--accent);
  transition: outline 0.1s ease;
}
a.featured-card {
  border-radius: 15px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.5em;
  }
  h2#post {
    font-size: 2.75em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }
  .card-post-small #cardContent h2 {
    font-size: 1.5em !important;
  }
}

ul, li {
  /* font-size: 1em; */
  margin-top: 0px;
}

.no-top-margin {
  margin-top: 0;
}

.no-bot-margin {
  margin-bottom: 0;
}

.spacer {
  margin: 10px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: var(--dark);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(245, 0, 87, 0.7);
  }
  ::-webkit-scrollbar-thumb:active {
    background: var(--accent);
  }
  body {
    background-color: var(--dark);
  }
  .card {
    background-color: var(--arsenic) !important;
    color: white !important;
  }
  .card-main {
    background-color: var(--arsenic) !important;
    color: white !important;
  }
  .header {
    color: white !important;
  }
  .header:hover {
    background-color: var(--accent) !important;
    color: black !important;
  }
  #about-img {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }
  .gallery-img {
    background-color: var(--arsenic) !important;
    color: white !important;
  }
  .gallery-img:hover {
    background-color: var(--accent) !important;
    color: black !important;
  }
  .white {
    background-color: white !important;
  }
  input[type=text], input[type=email], select, textarea {
    background-color: #555 !important;
    color: #fff;
  }
  p a:hover, ul a:hover, ol a:hover, td a:hover, .footer a:hover {
    color: #fff;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: all none !important;
  }
}

@media (min-width: 1000px) {
  body {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 768px) {
  #main {
    display: none;
  }
  .link {
    font-size: 1em !important;
  }
  .navlink {
    font-size: 20px !important;
  }
  #pageTitle {
    font-size: 32px !important;
  }
  #card-post-desc {
    font-size: initial !important;
  }
  p a, ul a, ol a, td a, .footer a {
    display: inline;
  }
  p a:hover, ul a:hover, ol a:hover, td a:hover, .footer a:hover {
    text-shadow: none;
    transform: none;
  }
}

.card {
  /* margin: 10px 0; */
  border-radius: var(--radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
  color: black;
}

.card-main {
  border-radius: var(--radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
  color: black;
  padding: 20px;
}

.featured-card > * {
  border-radius: 15px !important;
}

.card-main#card-about {
  min-height: 170px;
}

.active {
  background-color: var(--accent);
  color: white !important;
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.header {
  transition: var(--trans-bg);
  padding: 0;
  border-radius: var(--radius);
  height: 50px;
  color: black;
  width: 200px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.header:hover {
  background-color: var(--accent);
  color: white;
}

#pageTitle {
  font-size: 2em;
  margin-top: 10px;
  line-height: 50px;
  font-weight: 900;
}

.navlink {
  transition: background-color 0.2s ease;
  font-size: 1.25em;
  padding: 10px 20px 10px 20px;
  border-radius: var(--radius);
}

.navlink:hover {
  background-color: var(--accent);
}

.navlink:hover span {
  color: white;
}

.nav {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  background-color: var(--background);
}

.footer {
  padding: 20px 20px 0 20px;
  margin: 10px 0 0 0;
  text-align: center;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-bottom: 0;
  width: 100%;
}

.palette-container {
  width: auto;
}

.palette {
  transition: width 0.2s ease;
  width: 100px;
  height: 5px;
  display: inline-block;
}

.black {
  background-color: black;
}

.accent {
  background-color: var(--accent);
}

.white {
  background-color: #aaa;
}

#about-img {
  float: right;
  width: 125px;
  border-radius: 100%;
  margin: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

/* POSTS */
.grid-posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

/* GALLERY */
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.gallery-img {
  transition: all 0.3s ease;
  border-radius: var(--radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  padding: 0 0 10px 0;
  background-color: #fff;
}
.gallery-img:hover {
  background-color: var(--accent);
  color: white;
  padding: 10px 10px 20px 10px;
}
.gallery-img > img {
  transition: border-radius 0.3s ease;
}
.gallery-img:hover > img {
  transition: border-radius 0.3s ease;
  border-radius: 15px;
}
.gallery-img img {
  width: 100%;
  height: auto;
  border-radius: var(--radius) var(--radius) 0 0;
}
.gallery-img-desc {
  padding: 10px 5px 5px 5px;
  text-align: center;
}

@media only screen and (max-width: 1012px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
  .card-post {
    height: 400px !important;
  }
  .card-post-small {
    height: 100px !important;
  }
  .tags {
    display: block;
  }
  #middot {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .palette {
    width: 50px !important;
  }
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
  font-family: 'Inter var', sans-serif;
  font-size: 1em;
  width: 100%; /* Full width */
  padding: 10px 20px 10px 20px;
  background-color: #ddd;
  border: none;
  border-radius: var(--radius); /* Rounded borders */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.button {
  transition: background-color 0.3s ease;
  font-family: 'Inter var', monospace, sans-serif;
  font-weight: 900;
  background-color: transparent;
  color: var(--accent);
  font-size: 1.25em;
  padding: 5px 20px 5px 20px;
  border: 3px solid var(--accent);
  border-radius: var(--radius);
  cursor: pointer;
  display: inline-block;
  text-shadow: none !important;
}

.button:hover {
  color: #fff;
  background-color: var(--accent);
}

.buttonHighlight {
  transition: border-color 0.3s ease, background-color 0.3s ease;
  color: #fff !important;
  background-color: var(--accent);
}

.buttonHighlight:hover {
  background-color: #000;
  border-color: #000;
}

.card-image {
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-post {
  height: 250px;
  position: relative;
}

.card-post-small {
  height: 115px !important;
  position: relative;
}

.card-post-small #cardContent h2 {
  font-size: 1.75em;
}

.card-post:hover #cardContent h2 {
  text-shadow: 0 0 var(--accent);
}

#cardGradient {
  background: rgba(0,0,0,0.75);
  color: #fff;
  position: absolute;
  bottom: 0;
  border-radius: var(--radius);
  padding: 20px;
  height: 100%;
  display:flex;
  align-items:flex-end;
  width: 100%;
  transition: opacity 0.3s ease;
}

#cardGradient:hover {
  opacity: 25%;
}

#cardContent h2 {
  transition: text-shadow 0.3s ease;
  font-size: 2.75em;
  text-shadow: 4px 4px 0 var(--accent);
}

#cardContent p {
  font-weight: 500;
}

#card-post-desc {
  font-size: 1em !important;
}

select {
  background-color: #ddd;
}

textarea {
  padding: 20px;
}

.tags {
  color: #bebebe;
}

@media only screen and (max-width: 550px) {
  td > p {
    font-size: 0.75em !important;
  }
  td > h2 {
    font-size: 0.75em;
  }
  .linksLink {
    font-size: 1em !important;
  }
  .linksTableImage {
    width: 45% !important;
  }
}

@media only screen and (min-width: 800px) {
  .linksImage {
    width: 100% !important;
  }
  .linksTableImage {
    width: 25% !important;
    padding-right: 15px;
  }
  .linksLink {
    font-size: 2em !important;
  }
  .links-desc {
    font-size: 0.9em;
  }
}

table, tr, td {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  /* border: solid 1px #000; */
}

.td-right {
  padding-right: 10px;
}

table {
  width: 100%;
}

.linksImage {
  width: 100%;
  border-radius: var(--radius) 0 0 var(--radius);
  display: block;
  padding-right: 10px;
}

.linksTableImage {
  width: 35%;
}

.linksLink {
  font-size: 1.25em;
}

blockquote {
  border-left: solid 5px #f50057;
  padding: 15px 15px 15px 15px;
  background-color: rgba(245, 0, 87, 0.25);
  border-radius: 0 10px 10px 0;
}

blockquote > p {
  margin-bottom: 0;
}

blockquote em {
  background-color: rgba(0, 0, 0, 0.0);
  padding: initial;
}

@media (prefers-color-scheme: dark) {
  blockquote {
    background-color: rgba(245, 0, 87, 0.4);
  }

  center em {
    background-color: rgba(245, 0, 87, 0.4);
  }
}
