:root {
  --background: #fff;
  --arsenic: #35363a;
  --accent: #f50057;
  --radius: 25px;
  --transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url('/font/Roboto-Regular.woff2')
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), url('/font/Roboto-Italic.woff2')
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: local('Roboto Bold'), url('/font/Roboto-Bold.woff2')
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), url('/font/RobotoMono-Regular.woff2')
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Mono Italic'), url('/font/RobotoMono-Italic.woff2')
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: bold;
  font-weight: 700;
  src: local('Roboto Mono Bold'), url('/font/RobotoMono-Bold.woff2')
}

.mono {
  font-family: 'Roboto Mono', monospace, sans-serif;
}

/*Scrollbar Settings*/
html {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: ;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--back);
  border: solid 3px;
  border-color: var(--top-bar);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: var(--accent);
  font-weight: bold;
}

h1,
h2,
#title,
.navlink {
  font-family: 'Roboto Mono', monospace, sans-serif;
  font-weight: bold;
}

h2 {
  margin: 0;
  /* font-weight: normal; */
}

p {
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202020;
  }

  .card {
    background-color: var(--arsenic) !important;
    color: white !important;
  }

  .header {
    color: white !important;
  }

  .header:hover {
    background-color: var(--accent) !important;
    color: black !important;
  }

  #profileImg {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  #aboutImg {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }

  div.gallery {
    background-color: #202020 !important;
    color: white !important;
  }

  div.gallery:hover {
    background-color: var(--accent) !important;
    color: black !important;
  }

  .white {
    background-color: white !important;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
  }
}

.container {
  display: flex;
  flex-direction: column;
  grid-template-columns: auto 100px 1fr 2fr;
  min-height: 100vh;
}

@media (min-width: 1000px) {
  body {
    width: 1000px;
    justify-content: center;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
  }
}

@media only screen and (max-width: 768px) {
  #main {
    display: none;
  }

  .link {
    font-size: 1em !important;
  }
}

@media (min-width: 240px) {
  /* real small */
}

.card {
  margin: 10px 10px 0 10px;
  border-radius: var(--radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  background-color: white;
  color: black;
}

.active {
  background-color: var(--accent);
  color: white !important;
}

header {
  grid-column-start: 2;
}

.header {
  transition: var(--transition);
  padding: 0;
  border-radius: var(--radius);
  height: 50px;
  color: black;
  width: 215px;
  margin: auto;
  margin-top: 10px;
}

.header:hover {
  background-color: var(--accent);
  color: white;
}

#profileImg {
  height: 50px;
  border-radius: var(--radius);
  float: left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

#pageTitle {
  font-size: 2em;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 50px;
  font-family: 'Roboto Mono', monospace, sans-serif;
}

.navlink {
  transition: background-color 0.2s ease-in-out;
  font-size: 1.25em;
  padding: 10px 20px 10px 20px;
  border-radius: var(--radius);
  font-weight: bold;
}

.navlink:hover {
  background-color: var(--accent);
}

.navlink:hover span {
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
}

main {
  flex: 1;
  padding: 20px;
  grid-column: span 3;
  color: white;
}

footer {
  padding: 30px 30px 0 30px;
  text-align: center;
  background-color: #202020;
  color: white;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  grid-column-start: 2;
}

@media only screen and (max-width: 400px) {
  .palette {
    width: 50px !important;
  }
}

.palette-container {
  width: auto;
}

.palette {
  transition: width 0.2s ease-in-out;
  width: 100px;
  height: 5px;
  display: inline-block;
}

.black {
  background-color: black;
}

.accent {
  background-color: var(--accent);
}

.white {
  background-color: #aaa;
}

#aboutImg {
  float: right;
  width: 100px;
  border-radius: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

/* Gallery */

div.gallery {
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background-color: #fff;
  margin: 10px 5px 10px 5px;
}

div.gallery:hover {
  background-color: var(--accent);
  color: white;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

div.desc {
  padding: 10px 5px 5px 5px;
  text-align: center;
  font-family: "Roboto Mono", monospace, sans-serif;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 33.33333%;
}

@media only screen and (max-width: 1000px) {
  .responsive {
    width: 49.99999%;
    /* margin: 6px 0; */
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
