<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/main.css">
  <link rel="shortcut icon" href="/img/profile-round-small.png" />
  <link rel="icon" sizes="400x400" href="/img/profile.jpg">
  <link rel="apple-touch-icon" href="/img/profile.jpg" />
  <meta name="Description" content="Alakbar's personal website and portfolio">
  <meta name="theme-color" content="#f50057">
  <meta name="msapplication-navbutton-color" content="#f50057">
  <meta name="apple-mobile-web-app-status-bar-style" content="#f50057">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
  <div class="container">
    <div>
      <div class="card-main">
        <h1 style="font-size: 4em;">Hold on...</h1>
        <p class="subtitle">Page not found [HTML error 404]</p>
        <p>Looks like you've stumbled onto a bit of an issue.</p>
        <p>Consider sending a quick report.</p>
        <a class="button buttonHighlight" href="/report">REPORT ISSUE</a>
        <a class="button" href="/">HOME</a>
      </div>
    </div>
</body>
</html>