{{template "base/header" .}}

<main class="card"><img src="img/profile.png" alt="A picture of Alakbar" id="aboutImg" />
  <h2> who am i?</h2>
  <p>i'm a computer science student</p><br/>
  <h2>what's this website?</h2>
  <p>This website is a collection of things that I have made, want to talk about or explore.</p><br />
  <h2>i want to contact you</h2><a href="mailto:me@alak.bar">me@alak.bar</a><br/><a
    href="Twitter">Twitter @_melanthios_</a><br /><a
    href="https://github.com/melanthios">Github</a><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <p>oop</p>
</main>

{{template "base/footer" .}}