{{template "base/header" .}}

{{ range $index, $fields := .Blog }}
<div class="mainCard imageCard" id="postsCard" style="background-image: url(/blog/{{$fields.FileName}}/{{$fields.FileName}}.png);">
  <div id="cardGradient">
    <div id="cardContent">
      <p class="bottomPar subtitle">{{$fields.DateFormatted}}</p>
      <h2 class="topHeader"><a href="/blog/{{$fields.FileName}}">{{$fields.Name}}</a></h2>
      <p class="bottomPar">{{$fields.Description}}</p>
    </div>
  </div>
</div>
{{end}}

{{template "base/footer" .}}