{{template "base/header" .}}

<style type="text/css">
  .md {
    overflow: auto;
  }

  img {
    display: block;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  }

  .imageCard {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
  }

  .md img {
    border-radius: 10px;
    margin: auto;
  }

  @media (max-width: 768px) {
    .imageCard {
      display: none;
    }

    .desktop {
      display: none;
    }

    .imageCardMobile {
      margin: 10px 10px 0 10px
    }
  }

  @media (min-width: 768px) {
    .imageCardMobile {
      display: none;
    }

    .mobile {
      display: none;
    }

    .md img {
      width: auto;
      max-height: 50vh;
    }
  }
</style>

<div class="desktop">
  <div class="imageCard">
    <img class="headerImage" src="{{.Name}}.png" alt="">
  </div>
  <div class="mainCard md">
    {{.HTML}}
  </div>
</div>

<div class="mobile">
  <div class="imageCardMobile">
    <img class="headerImageMobile" src="{{.Name}}.png" alt="">
  </div>
  <div class="mainCard md">
    {{.HTML}}
  </div>
</div>

{{template "base/footer" .}}