{{template "base/header" .}}

<div class="mainCard">
  <h1 class="topHeader">Credits</h1>
  <p>People who have helped and inspired me in creating this website.</p>
</div>

<div class="mainCard imageCard">
  <table>
    <tr>
      <td class="linksTableImage">
        <img class="linksImage" src="img/links/humaid.jpg" alt="A photo of Humaid">
      </td>
      <td>
        <h2 class="topHeader"><a class="linksLink" href="https://humaidq.ae/" target="_blank"
            rel="noreferrer">Humaid</a></h2>
        <p>Generously donated lots of time in order to aid and troubleshoot in backend and security.</p>
      </td>
    </tr>
  </table>
</div>

<div class="mainCard imageCard">
  <table>
    <tr>
      <td class="linksTableImage">
        <img class="linksImage" src="img/links/hutchie.png" alt="Hutchie's icon">
      </td>
      <td>
        <h2 class="topHeader"><a class="linksLink" href="https://hutchie.scot" target="_blank"
            rel="noreferrer">Hutchie</a></h2>
        <p>Hutchie inspired me to build my website from scratch, rather than using frameworks, and I regularly use his
          site as a benchmark.</p>
      </td>
    </tr>
  </table>
</div>

{{template "base/footer" .}}