{{template "base/header" .}}

<div class="mainCard">
  <h1 class="topHeader">Credits</h1>
  <p>People who have helped and inspired me in creating this website.</p>
</div>

<div class="mainCard noPadding creditsCard">
  <table>
    <tr>
      <td class="creditsTableImage" rowspan="2">
        <img class="creditsImage" src="https://humaidq.ae/img/me-2020.jpg" alt="A photo of Humaid">
      </td>
      <td class="creditsTableDescription">
        <h2 class="topHeader"><a href="https://humaidq.ae/" target="_blank" rel="noreferrer">humaidq.ae</a></h2>
        <p>Generously donated lots of his time and wizard coding skills in order to aid and troubleshoot in backend and security.</p>
      </td>
    </tr>
  </table>
</div>

<div class="mainCard noPadding creditsCard">
  <table>
    <tr>
      <td class="creditsTableImage" rowspan="2">
        <img class="creditsImage" src="https://hutchie.scot/android-chrome-144x144.png" alt="Hutchie's icon">
      </td>
      <td class="creditsTableDescription">
        <h2 class="topHeader"><a href="https://hutchie.scot/" target="_blank" rel="noreferrer">hutchie.scot</a></h2>
        <p>Hutchie inspired me to build my website from scratch, rather than using frameworks, and I regularly use his site as a benchmark.</p>
      </td>
    </tr>
  </table>
</div>

{{template "base/footer" .}}