{{template "base/header" .}}
<div class="card-main">
  <h1>Credits</h1>
  <p class="no-bot-margin">People who have helped and inspired me in creating this website.</p>
</div>
<div class="card">
  <table>
    <tr>
      <td class="linksTableImage">
        <img class="linksImage" src="img/links/humaid.jpg" alt="A photo of Humaid">
      </td>
      <td>
        <a class="linksLink" href="https://humaidq.ae/" target="_blank" rel="noreferrer">Humaid</a>
        <p class="no-bot-margin">Generously donated lots of time in order to aid and troubleshoot in backend and security.</p>
      </td>
    </tr>
  </table>
</div>
<div class="card">
  <table>
    <tr>
      <td class="linksTableImage">
        <img class="linksImage" src="img/links/hutchie.jpg" alt="Hutchie's icon">
      </td>
      <td>
        <a class="linksLink" href="https://hutchie.scot" target="_blank" rel="noreferrer">Hutchie</a>
        <p class="no-bot-margin">Hutchie inspired me to build my website from scratch, rather than using frameworks, and I regularly use their
          site as a benchmark.</p>
      </td>
    </tr>
  </table>
</div>
{{template "base/footer" .}}