{{template "base/header" .}}
<div class="grid-posts">
<div class="card-main" id="card-about">
  <img src="img/profile.jpg" alt="A picture of Alakbar" id="about-img" />
  <p>I'm a computer science student in my final year at Heriot-Watt University.</p>
  <p>I take <a href="pics">pictures</a>.
  <p>I edit <a href="https://www.youtube.com/channel/UCLJHVfPzheLVnbz6QtyxoRA?view_as=subscriber" target="_blank" rel="noreferrer">videos</a>.</p>
  <p>I <a href="https://www.github.com/alakbarz" target="_blank" rel="noreferrer">code</a>... or at least I try to anyway.</p>
  <p class="no-bot-margin">I like being creative and making stuff.</p>
</div>
<div class="card-main">
  <h2>Featured Projects</h2>
  <div class="spacer"></div>
  <a href="projects/iglu" class="featured-card">
    <div class="card-main card-image card-post card-post-small featured-card"
    style="background-image: url(/projects/iglu/iglu.png);">
    <div id="cardGradient">
        <div id="cardContent">
          <h2>iglü, The Smart Home of the Future</h2>
        </div>
      </div>
    </div>
  </a>
  <div class="spacer"></div>
  <a href="blog/NEOWISE" class="featured-card">
    <div class="card-main card-image card-post card-post-small featured-card"
      style="background-image: url(/blog/NEOWISE/NEOWISE.png);">
      <div id="cardGradient">
        <div id="cardContent">
          <h2>A Drop in the Ocean</h2>
        </div>
      </div>
    </div>
  </a>
</div>
<a href="links">
  <div class="card-main card-image card-post card-post-small"
    style="background: linear-gradient(135deg, rgba(0,65,182,1) 0%, rgba(245,0,87,1) 100%);">
    <div id="cardGradient">
      <div id="cardContent">
        <h2>Links</h2>
        <p class="no-bot-margin" id="card-post-desc">Check out websites made by some of my peers</p>
      </div>
    </div>
  </div>
</a>
<div class="card-main">
  <h2 id="contact">Contact Information</h2>
  <p>
    <b>Email: </b>me<span style="display:none;"> and i </span>@alak.<span style="display:none;"> oop </span>bar
    <br>
    <b>Twitter: </b><a href="https://twitter.com/_alakbar_" target="_blank" rel="noreferrer">@_alakbar_</a> (least preferred method of comms.)
  </p>
  <h2 id="contact">Contact Form</h2>
  <form action="" method="POST">
    <input type="hidden" name="_csrf" value="{{.csrf_token}}">
    <label for="name">
      <h3>Name or Email (optional)</h3>
    </label>
    <input id="name" type="text" name="name" placeholder="Your name or email here">
    <label for="subject">
      <h3>Message</h3>
    </label>
    <textarea id="subject" name="description" placeholder="Your message here" style="height:200px"
      oninvalid="this.setCustomValidity('Text is required before submitting')" oninput="this.setCustomValidity('')" required></textarea>
    <input type="submit" class="button buttonHighlight" value="SUBMIT">
  </form>
</div>
</div>
{{template "base/footer" .}}