{{template "base/header" .}}

<img src="img/profile.jpg" alt="A picture of Alakbar" id="aboutImg" />
<h2> who am i?</h2>
<p>I'm a computer science student in my third year of university. <br><br>I take <a
    href="https://www.instagram.com/melanthios_/">pictures</a>. I edit <a
    href="https://www.youtube.com/channel/UCLJHVfPzheLVnbz6QtyxoRA?view_as=subscriber">videos</a>. I <a
    href="https://www.github.com/alakbarz">code</a>... or
  at least I try to anyway. <br><br> I like being creative and making stuff, so get in touch and maybe we can make
  something happen :)</p>

<br />

<h2>what's this website?</h2>
<p>this website is a collection of things that I have made, want to talk about, and just explore.</p>

<br />

<h2>i want to contact you</h2>me<span style="display:none;"> and i </span>@alak.<span style="display:none;"> oop </span>bar<br />
<a href="https://twitter.com/_alakbar_">Twitter @_alakbar_</a><br />

{{template "base/footer" .}}