{{template "base/header" .}}
<div class="card-main">
  <h1>Links</h1>
  <p class="no-bot-margin">Need some inspiration for your website? Below are links to sites made by Heriot-Watt students in my year.</p>
</div>
{{range .Links}}
<div class="card">
  <table>
    <tr>
      <td class="linksTableImage">
        <img class="linksImage" src="img/links/{{.FileName}}" alt="{{.Name}}">
      </td>
      <td class="td-right">
        <a class="linksLink" href="{{.URL}}" target="_blank" rel="noreferrer">{{.ShortURL}}</a>
        <p class="links-desc">{{.Description}}</p>
      </td>
    </tr>
  </table>
</div>
{{end}}
{{template "base/footer" .}}