{{template "base/header" .}}

<div class="mainCard">
  <h1 class="topHeader">Links</h1>
  <p class="bottomPar">
    Need some inspiration for your website? Below are links to sites made by Heriot-Watt students in my year.
  </p>
</div>

<div class="mainCard imageCard">
  <table>
    <tr>
      <td class="linksTableImage">
        <img class="linksImage" src="img/links/abdul.jpeg" alt="Abdelrahman">
      </td>
      <td>
        <a class="linksLink" href="https://elkabbany.xyz/" target="_blank" rel="noreferrer">elkabbany.xyz</a>
        <p></p>
      </td>
    </tr>
  </table>
</div>

<div class="mainCard imageCard">
  <table>
    <tr>
      <td class="linksTableImage">
        <img class="linksImage" src="img/links/humaid.jpg" alt="Humaid">
      </td>
      <td>
        <a class="linksLink" href="https://humaidq.ae/" target="_blank" rel="noreferrer">humaidq.ae</a>
        <p>{{.HumaidDesc}}</p>
      </td>
    </tr>
  </table>
</div>

<div class="mainCard imageCard">
  <table>
    <tr>
      <td class="linksTableImage">
        <img class="linksImage" src="img/links/hutchie.png" alt="Hutchie">
      </td>
      <td>
        <a class="linksLink" href="https://hutchie.scot" target="_blank" rel="noreferrer">hutchie.scot</a>
        <p></p>
      </td>
    </tr>
  </table>
</div>

<div class="mainCard imageCard">
  <table>
    <tr>
      <td class="linksTableImage">
        <img class="linksImage"
          src="img/links/reamsystems.png"
          alt="Ream Systems">
      </td>
      <td>
        <a class="linksLink" href="https://ream.systems" target="_blank" rel="noreferrer">ream.systems</a>
        <p>A small tech startup company based in Scotland, that specializes in data analysis and web services.</p>
      </td>
    </tr>
  </table>
</div>

<div class="mainCard imageCard">
  <table>
    <tr>
      <td class="linksTableImage">
        <img class="linksImage" src="img/links/rikesh.jpeg" alt="Rikesh">
      </td>
      <td>
        <a class="linksLink" href="http://rikeshmm.com/" target="_blank" rel="noreferrer">rikeshmm.com</a>
        <p>Aspiring developer and designer</p>
      </td>
    </tr>
  </table>
</div>

<div class="mainCard imageCard">
  <table>
    <tr>
      <td class="linksTableImage">
        <img class="linksImage" src="img/links/ruaridh.jpg" alt="Ruaridh">
      </td>
      <td>
        <a class="linksLink" href="https://ruaridhmollica.com/" target="_blank" rel="noreferrer">ruaridhmollica.com</a>
        <p>"A website showcasing who I am and some of my achievements over the last 3 years"</p>
      </td>
    </tr>
  </table>
</div>

{{template "base/footer" .}}