{{template "base/header" .}}

<div class="responsive">
  <a href="img/pics/arthurs_seat.jpg">
  <div class="gallery">
      <img src="img/pics/thumbs/arthurs_seat-500.jpg" alt="Tilt shift picture of Edinburgh">
      <div class="desc">Tilt Shift Edinburgh</div>
    </div>
  </a>
</div>

<div class="responsive">
  <a href="img/pics/monument.jpg">
  <div class="gallery">
      <img src="img/pics/thumbs/monument-500.jpg" alt="The Edinburgh monument">
      <div class="desc">The Monument</div>
    </div>
  </a>
</div>

<div class="responsive">
  <a href="img/pics/miniature_town.jpg">
  <div class="gallery">
      <img src="img/pics/thumbs/miniature_town-500.jpg" alt="Super blood moon">
      <div class="desc">Miniature Town</div>
    </div>
  </a>
</div>

<div class="responsive">
  <a href="img/pics/westhill_sunset.jpg">
  <div class="gallery">
      <img src="img/pics/thumbs/westhill_sunset-500.jpg" alt="Sunset">
      <div class="desc">This Neon Sunset</div>
    </div>
  </a>
</div>

<div class="responsive">
  <a href="img/pics/super_blood_moon.jpg">
  <div class="gallery">
      <img src="img/pics/thumbs/super_blood_moon-500.jpg" alt="Super blood moon">
      <div class="desc">Third Time Lucky</div>
    </div>
  </a>
</div>

<div class="responsive">
  <a href="img/pics/monument_view.jpg">
  <div class="gallery">
      <img src="img/pics/thumbs/monument_view-500.jpg" alt="Amusement ride rotating high above Edinburgh">
      <div class="desc">Monument View</div>
    </div>
  </a>
</div>

<div class="responsive">
  <a href="img/pics/desolation.jpg">
  <div class="gallery">
      <img src="img/pics/thumbs/desolation-500.jpg" alt="Silhouette of crane at sunset">
      <div class="desc">Desolation</div>
    </div>
  </a>
</div>

<div class="responsive">
  <a href="img/pics/longest_night.jpg">
  <div class="gallery">
      <img src="img/pics/thumbs/longest_night-500.jpg" alt="Star trails in sky due to timelapse and image stacking">
      <div class="desc">The Longest Night</div>
    </div>
  </a>
</div>

<div class="responsive">
  <a href="img/pics/saturn.jpg">
  <div class="gallery">
      <img src="img/pics/thumbs/saturn-500.jpg" alt="Saturn, as viewed from a telescope">
      <div class="desc">Saturn</div>
    </div>
  </a>
</div>

<div class="responsive">
  <a href="img/pics/falling_moon.jpg">
  <div class="gallery">
      <img src="img/pics/thumbs/falling_moon-500.jpg" alt="Silhouette of trees in front of the setting Moon">
      <div class="desc">The Falling Moon</div>
    </div>
  </a>
</div>

<div class="clearfix"></div>

{{template "base/footer" .}}
