{{template "base/header" .}}

<div class="responsive">
  <div class="gallery">
    <a href="img/pics/arthurs_seat.jpg">
      <img src="img/pics/thumbs/arthurs_seat-500.jpg" alt="Tilt shift picture of Edinburgh">
    </a>
    <div class="desc">Tilt Shift Edinburgh</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="img/pics/monument.jpg">
      <img src="img/pics/thumbs/monument-500.jpg" alt="The Edinburgh monument">
    </a>
    <div class="desc">The Monument</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="img/pics/red.jpg">
      <img src="img/pics/thumbs/red-500.jpg" alt="Person sitting, looking at city">
    </a>
    <div class="desc">Red</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="img/pics/miniature_town.jpg">
      <img src="img/pics/thumbs/miniature_town-500.jpg" alt="Super blood moon">
    </a>
    <div class="desc">Miniature Town</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="img/pics/westhill_sunset.jpg">
      <img src="img/pics/thumbs/westhill_sunset-500.jpg" alt="Sunset">
    </a>
    <div class="desc">This Neon Sunset</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="img/pics/super_blood_moon.jpg">
      <img src="img/pics/thumbs/super_blood_moon-500.jpg" alt="Super blood moon">
    </a>
    <div class="desc">Third Time Lucky</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="img/pics/monument_view.jpg">
      <img src="img/pics/thumbs/monument_view-500.jpg" alt="Amusement ride rotating high above Edinburgh">
    </a>
    <div class="desc">Monument View</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="img/pics/desolation.jpg">
      <img src="img/pics/thumbs/desolation-500.jpg" alt="Silhouette of crane at sunset">
    </a>
    <div class="desc">Desolation</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a href="img/pics/longest_night.jpg">
      <img src="img/pics/thumbs/longest_night-500.jpg" alt="Star trails in sky due to timelapse and image stacking">
    </a>
    <div class="desc">The Longest Night</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="img/pics/saturn.jpg">
      <img src="img/pics/thumbs/saturn-500.jpg" alt="Saturn, as viewed from a telescope">
    </a>
    <div class="desc">Saturn</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="img/pics/falling_moon.jpg">
      <img src="img/pics/thumbs/falling_moon-500.jpg" alt="Silhouette of trees in front of the setting Moon">
    </a>
    <div class="desc">The Falling Moon</div>
  </div>
</div>

<div class="clearfix"></div>

{{template "base/footer" .}}