{{template "base/header" .}}
<div class="gallery-grid">
  <a href="img/pics/vigilant_observer.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/vigilant_observer-500.jpg" alt="Comet C/2020 F3 (NEOWISE) in the sky at dawn">
      <div class="gallery-img-desc">The Vigilant Observer</div>
    </div>
  </a>

  <a href="img/pics/heaven_sent.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/heaven_sent-500.jpg" alt="Comet C/2020 F3 (NEOWISE) in the sky at dawn">
      <div class="gallery-img-desc">Heaven Sent</div>
    </div>
  </a>

  <a href="img/pics/arthurs_seat.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/arthurs_seat-500.jpg" alt="Edinburgh as seen from the Scott Monument">
      <div class="gallery-img-desc">Tilt Shift Edinburgh</div>
    </div>
  </a>

  <a href="img/pics/monument.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/monument-500.jpg" alt="The Edinburgh monument">
      <div class="gallery-img-desc">The Monument</div>
    </div>
  </a>

  <a href="img/pics/miniature_town.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/miniature_town-500.jpg" alt="Wide angle image from Arthur's Seat looking down on Edinburgh">
      <div class="gallery-img-desc">Miniature Town</div>
    </div>
  </a>

  <a href="img/pics/westhill_sunset.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/westhill_sunset-500.jpg" alt="Sunset">
      <div class="gallery-img-desc">This Neon Sunset</div>
    </div>
  </a>

  <a href="img/pics/super_blood_moon.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/super_blood_moon-500.jpg" alt="Super blood moon">
      <div class="gallery-img-desc">Third Time Lucky</div>
    </div>
  </a>

  <a href="img/pics/monument_view.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/monument_view-500.jpg" alt="Amusement ride rotating high above Edinburgh">
      <div class="gallery-img-desc">Monument View</div>
    </div>
  </a>

  <a href="img/pics/desolation.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/desolation-500.jpg" alt="Silhouette of crane at sunset">
      <div class="gallery-img-desc">Desolation</div>
    </div>
  </a>

  <a href="img/pics/longest_night.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/longest_night-500.jpg" alt="Star trails in sky due to timelapse and image stacking">
      <div class="gallery-img-desc">The Longest Night</div>
    </div>
  </a>

  <a href="img/pics/saturn.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/saturn-500.jpg" alt="Saturn, as viewed from a telescope">
      <div class="gallery-img-desc">Saturn</div>
    </div>
  </a>

  <a href="img/pics/falling_moon.jpg">
    <div class="gallery-img">
      <img src="img/pics/thumbs/falling_moon-500.jpg" alt="Silhouette of trees in front of the setting Moon">
      <div class="gallery-img-desc">The Falling Moon</div>
    </div>
  </a>
</div>
{{template "base/footer" .}}