{{template "base/header" .}}
<style type="text/css">
  body {
    background-color: #{{.ColourLight}};
  }
  ::-webkit-scrollbar-track {
    background: #{{.ColourLight}};
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #{{.ColourDark}};
    }
    ::-webkit-scrollbar-track {
      background: #{{.ColourDark}};
    }
    .md h2 a:hover, .md h3 a:hover, .md h4 a:hover {
      color: #fff !important;
    }
  }
  .md {
    overflow: hidden;
    margin-top: 10px;
  }
  .md h1 {
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 0px 0px var(--accent);
    font-size: 3em;
    display: inline-block;
  }
  .md h1 a, .md h2 a, .md h3 a, .md h4 a {
    transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
    text-shadow: 0px 0px var(--accent);
    display: inline-block;
  }
  .md h1:hover, .md h2 a:hover, .md h3 a:hover, .md h4 a:hover {
    text-shadow: 0.5px 0.5px var(--accent),
                 1px   1px   var(--accent),
                 1.5px 1.5px var(--accent),
                 2px   2px   var(--accent),
                 2.5px 2.5px var(--accent),
                 3px   3px   var(--accent),
                 4px   4px   var(--accent),
                 4.5px 4.5px var(--accent),
                 5px   5px   var(--accent),
                 5.5px 5.5px var(--accent),
                 6px   6px   var(--accent),
                 6.5px 6.5px var(--accent),
                 7px   7px   var(--accent);
    transform: translate(-7px, -7px);
  }
  .md h2 a:hover, .md h3 a:hover, .md h4 a:hover {
    color: #000;
  }
  .md h2 {
    font-size: 2em;
    margin-top: 50px;
  }
  .md h3 {
    font-size: 1.5em;
    margin-top: 35px;
  }
  .md h4 {
    font-size: 1.25em;
    margin-top: 25px;
  }
  .md p {
    text-align: justify;
    text-justify: auto;
  }
  .md ul,
  .md ol {
    margin-bottom: 20px;
  }
  img {
    display: block;
    width: 100%;
    border-radius: var(--radius);
    margin: 0 auto;
  }
  .md img {
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    width: auto;
    max-width: 100%;
    max-height: 500px;
  }
  .md video, .youtube-video-container {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  }
  .youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
  .youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .no-raise {
    transform: none !important;
    display: inline-block;
    margin-bottom: 10px !important;
  }
  center em {
    background-color: rgba(245, 0, 87, 0.5);
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    display: inline-block;
    margin: 0 auto;
  }
  center p {
    text-align: center !important;
    margin-bottom: 10px;
  }
  @media (max-width: 768px) {
    .md h1 {
      font-size: 2.5em;
    }
    .md h2 {
      font-size: 1.75em;
    }
    .md h3 {
      font-size: 1.5em;
    }
    .md h4 {
      font-size: 1.25em;
    }
  }
</style>
<div class="card"><img class="" src="{{.Name}}.png" alt=""></div>
<div class="card-main md">{{.HTML}}</div>
{{template "base/footer" .}}
