{{template "base/header" .}}

<style type="text/css">
  body {
    background-color: #{{.ColourLight}};
  }

  ::-webkit-scrollbar-track {
    background: #{{.ColourLight}};
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #{{.ColourDark}};
    }
    ::-webkit-scrollbar-track {
      background: #{{.ColourDark}};
    }
  }

  .md {
    overflow: auto;
  }

  .md h1 {
    font-size: 4em;
  }

  .md h2 {
    font-size: 3em;
  }

  .md h3 {
    font-size: 2em;
  }

  img {
    display: block;
    width: 100%;
    border-radius: 25px;
  }

  .md img {
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  }

  @media (min-width: 768px) {
    .md img {
      width: auto;
      max-height: 50vh;
    }
  }

  @media (max-width: 768px) {
    .md h1 {
      font-size: 3em;
    }

    .md h2 {
      font-size: 2em;
    }

    .md h3 {
      font-size: 1.5em;
    }
  }
</style>

<div class="card">
  <img class="" src="{{.Name}}.png" alt="">
</div>

<div class="mainCard md">
  {{.HTML}}
</div>

</div>

{{template "base/footer" .}}