{{template "base/header" .}}
{{ range $index, $fields := .Projects }}
<a href="/projects/{{$fields.FileName}}">
  <div class="mainCard imageCard" id="postsCard"
    style="background-image: url(/projects/{{$fields.FileName}}/{{$fields.FileName}}.png);">
    <div id="cardGradient">
      <div id="cardContent">
        <p class="bottomPar subtitle">{{$fields.DateFormatted}}<span class="tags"><span id="middot"> &middot; </span>{{$fields.Tags}}</span></p>
        <h2 class="topHeader">{{$fields.Name}}</h2>
        <p class="bottomPar">{{$fields.Description}}</p>
      </div>
    </div>
  </div>
</a>
{{end}}
{{template "base/footer" .}}