{{template "base/header" .}}
<div class="grid-posts">
  {{ range $index, $fields := .Projects }}
  <a href="/projects/{{$fields.FileName}}">
    <div class="card-main card-image card-post"
      style="background-image: url(/projects/{{$fields.FileName}}/{{$fields.FileName}}.png);">
      <div id="cardGradient">
        <div id="cardContent">
          <p class="no-bot-margin">{{$fields.DateFormatted}}<span class="tags"><span id="middot"> &middot;
              </span>{{$fields.Tags}}</span></p>
          <h2 id="post">{{$fields.Name}}</h2>
          <p class="no-bot-margin">{{$fields.Description}}</p>
        </div>
      </div>
    </div>
  </a>
  {{end}}
</div>
{{template "base/footer" .}}