{{template "base/header" .}}

<div class="mainCard">
  <h1 class="topHeader">Report An Issue</h1>
  <p class="bottomPar">Consider filing a report if:
  <ul>
    <li>you've found a bug, broken hyperlink, or functional issues</li>
    <li>you spot an accessibility issue (e.g. difficult to read text)</li>
    <li>you have a suggestion</li>
  </ul>
  All reports are anonymous and no identifiable information is recorded.
  </p>
</div>

<div class="mainCard">
  <form action="" method="POST">
    <input type="hidden" name="_csrf" value="{{.csrf_token}}">

    <label for="issue">
      <h3 class="topHeader">Category</h3>
    </label>
    <select id="issue" name="category" oninvalid="this.setCustomValidity('You must categorise the issue that you have discovered')"
      oninput="this.setCustomValidity('')" required>
      <option value="" selected disabled hidden>Choose a category</option>
      <option value="Accessibility">Accessibility</option>
      <option value="Bug">Bug</option>
      <option value="Design">Design</option>
      <option value="Other">Other</option>
      <option value="Usability">Usability</option>
    </select>

    <label for="email">
      <h3 class="topHeader">Your Email (optional)</h3>
    </label>
    <input id="email" type="email" name="email" placeholder="Only if you want a response">

    <label for="subject">
      <h3 class="topHeader">Description</h3>
    </label>
    <textarea id="subject" name="description" placeholder="Include as many details as required" style="height:200px"
      oninvalid="this.setCustomValidity('A description of the issue is required')" oninput="this.setCustomValidity('')"
      required></textarea>

    <input type="submit" class="button buttonHighlight" value="SUBMIT">
  </form>
</div>

{{template "base/footer" .}}