{{template "base/header" .}}

<div class="mainCard">
  <h1 class="topHeader">Traffic Report</h1>
  <p>This site collects anonymised analytics through <a href="https://www.goatcounter.com/" target="_blank"
      rel="noreferrer">GoatCounter</a>, which "is an open source web analytics platform..."</p>
</div>

<div class="mainCard">
  This section is currently under construction.
</div>

<div class="mainCard">
  Based loosly on the <a href="https://www.elitedangerous.com/">Elite Dangerous</a> system traffic reports.
</div>

{{template "base/footer" .}}