{{template "base/header" .}}
<div class="grid-posts">
  <div class="card-main">
    <h1 class="topHeader">Traffic Report</h1>
    <p class="no-bot-margin">
      This site collects anonymised analytics through <a href="https://www.goatcounter.com/" target="_blank"
        rel="noreferrer">GoatCounter</a>, which "is an open source web analytics platform..."
    </p>
  </div>
  <div class="card-main">
    <p class="no-bot-margin">
      This section is currently under construction.
    </p>
  </div>
  <div class="card-main">
    <p class="no-bot-margin">
      Based loosely on the <a href="https://www.elitedangerous.com/">Elite Dangerous</a> system traffic reports.
    </p>
  </div>
</div>
{{template "base/footer" .}}