{{template "base/header" .}}
<div class="grid-posts">
  <div class="card-main">
    <h1 class="topHeader">Traffic Report</h1>
    This site collects anonymised analytics through <a href="https://www.goatcounter.com/" target="_blank"
      rel="noreferrer">GoatCounter</a>, which "is an open source web analytics platform..."
  </div>
  <div class="card-main">
    This section is currently under construction.
  </div>
  <div class="card-main">
    Based loosely on the <a href="https://www.elitedangerous.com/">Elite Dangerous</a> system traffic reports.
  </div>
</div>
{{template "base/footer" .}}